<nav class="navbar navbar-light" style="background-color: #a91e1e;">
  
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Flight Booking</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Setting
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a routerLink="users" routerLinkActive="active" class="nav-link" style="color:black" >Edit Profile</a></li>
            <li><a routerLink="create-user" routerLinkActive="active" class="nav-link" style="color:black">Add User</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link subdropdown-toggle" href="#" id="navbarsubDropdownMenuLink" role="button" data-bs-toggle="subdropdown" aria-expanded="false" style="color:black">
                Complain
              </a>
              <ul class="subdropdown-menu" aria-labelledby="navbarsubDropdownMenuLink">
            <li><a routerLink="create-user" routerLinkActive="active" class="nav-link" style="color:gray">Customer Complian</a></li>
            <li><a routerLink="create-user" routerLinkActive="active" class="nav-link" style="color:gray">Resolve Complian</a></li>
</ul>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>





<h1 class="text-center">{{title}}</h1>
<div class="container">
        <router-outlet></router-outlet>
</div>


<footer class="footer" style="background-color: #9a1b1b;">
     <div class="container">
        <span>All rights reserved 2022 @CybageSoftware.com</span> 
     </div>


</footer>